/*corpo do site*/
body {
    background-color: rgb(220, 220, 220);
}
/*primeiro input*/
#input1 {
    display: flex;
    font-family: Andale Mono, monospace;
    margin-bottom: 14px;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
}
/*botão de envio*/
#enviar {
    color: rgb(255, 255, 255);
    width: 30%;
    background-color: #063e8d;
    padding: 5px;
    border-radius: 6px;
    margin-left: 55px;
}

#enviar:hover {
    transform: scale(1.1);
}
/*corpo do formulario*/
form {
    flex-direction: column;
    margin-left: 30%;
    width: 60%;

}

h1 {
    text-align: center;
    font-size: 60px;
    margin-left: 3%;
    padding: 10px;
}
/*primeiro input*/
#label1 {
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    font-size: 18px;
}
/*segundo input*/
#label2 {
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
    font-size: 18px;
}
/*primeira div*/
#div1 {
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-radius: 80px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    background-color: rgb(189, 188, 188);
}
/*iframe*/
#iframe {
    bottom: 0%;
    margin-bottom: -5px;
}

* {
    margin: 0;
}
/*pequena div para  input*/
.e {
    display: flex;
}
.icon {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 5px;
}

/*Responsividade do feedback*/

@media screen and (min-width: 400px) {
    /*primeira div*/
    #div1 {
        margin-left: 5%;
        margin-right: 5%;
    }
    /*imagens*/
    .icon {
        height: 50px;
        width: 50px;
        margin-left: -25vw;
    }
    /*primeiro input*/
    #input1 {
        width: 50vw;
        font-size: 20px;
    }
    #enviar {
        margin-top: 5px;
        width: 200px;
        height: 50px;
        font-size: 25px;
        margin-left: -9vw;
    }
    /*primeiro input*/
    #label1 {
        font-size: 25px;
    }
    /*segundo input*/
    #label2 {
        font-size: 25px;
    }
    /*titulo*/
    h1 {
        font-size: 50px;
    }
}