/*Estilização do body*/
body {
    background-color: rgb(220, 220, 220);
}

/*Estilização do titulo*/
#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}

/*Estilo das box shadow*/
#bloco1 {   background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}
/*Estilização do bloco2*/
#bloco2 { 
    width: 65%;
      background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    margin-top: 4vh;

}
/*Estilização lado com display flex*/
.lado {
    display: flex;
}
/*Estilização do bloco3*/
#bloco3{
    padding:2%;
    margin: 1%
}

/*Estilização do aside*/
aside {
    width: 35%;
}

/*Estilização do h1*/
h1{
    text-align: center;
    margin: 5px;
}

/*Estilização dos cards*/
#card1{
    display: flex;
  }
  
  img{
      border-radius: 10px;
  }

  p{
    margin-top: 10px;
}
/*Estilização do card2*/
#card2{
    margin-top: 1%;
}
/*Estilização do card3*/
#card3 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    text-align: center;
    margin-top: 1%;
}

/*Estilização do div4*/
#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
    margin-bottom: 2%;
}

/*Estilização do p1*/
#p1{
    margin-top: 6%;
    margin-left: 9%;
    font-size: 20px;
}

/*Estilização das img*/
#img4 {
    margin-top: 2%;
    margin-left: 10px;
}
/*Estilização do id img5*/
#img5 {
    margin-left: 11%;
}
/*Estilização do id img0*/
#img0 {
    margin-top: -27px;
}
/*Estilização do id img00*/
#img00 {
    margin-bottom: -18px;
    margin-top: 10px;
}
/*Estilização da tag img*/
img {
    margin-left: 15px;
}
/*Estilização do id imgg4*/
#imgg4{
    border-radius: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Estilização da div*/
#div5 {
    background-color: #c6d0de;
    text-align: center;
    margin-top: 2%;
}
/*Estilização do id div6*/
#div6 {
    background-color: rgb(253, 199, 208);
    text-align: center;
    margin-top: 3%;
}

/*Estilização da art1*/
#art1 {
    display: flex;
    margin: 5px;
    padding: 10px;
    
}
/*Estilização do hover da class loi*/
.loi:hover {
    transform: scale(1.05);
}
/*Estilização da class loi*/
.loi {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
    margin-left: 3%;
    margin-right: 3%;
}
/*Estilização do id da h22*/
#h22 {
    margin-left: 1%;
    margin-top: 2%;

}
/*Estilização do id da h2*/
#h2{
    margin-left: 14%;
    margin-top: 2%;
}
/*Estilização da class h11 de texto*/
.h11{
    font-size: 25px;
}

/*Fixação do header e footer*/
iframe{
    bottom: 0%;
    margin-bottom: -5px;
}
*{
    margin: 0;
}
/*Estilização do id da div*/
#div{
    margin-bottom: 0;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
    margin-top: 5%;
}
/*Estilização da class da section sec4*/
.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}
/*Estilização do icone de perfil*/
.icon_profile {
    border-radius: 100%;
}
/*Estilização do nome*/
.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}
/*Estilização dos comentarios*/
.comment_info {
    display: flex;
    margin-top: 10%;
}
/*Estilização do titulo nome*/
.title_name {
    color: #999;
}
/*Estilização do card de comentario de texto*/
.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}
/*Estilização do card de comentario de texto*/
.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}
/*Estilização do id da div7*/
#div7 form {
    margin-left: 4%;
    flex-direction: column;
   display: flex;
}
/*Estilização da caixa de comentarios*/
#your_comment {
    width: 40vw;
}
/*Estilização dos comentarios*/
#comments {
    font-size:x-large;
    margin-top: 4%;
}
/*Estilização da class de p*/
.p{
    font-size: 20px;
}

@media screen and (max-width: 687px) {
    /*Estilização da class lado media*/
    .lado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
/*Estilização do bloco2 media*/
    #bloco2 {
        width: 83vw;
        margin-top: 6vh;
    }
/*Estilização do aside media*/
    aside {
        width: 100vw;

    }
/*Estilização do id do bloco3 media*/
    #bloco3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*Estilização do id da card3 media*/
    #card3 {
        width: 83vw;
        margin: 0;
        margin-top: 6vh;
        margin-bottom: 6vh;
    }
/*Estilização do id da div4 media*/
    #div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Estilização da form media*/
    form {
        text-align: center;
    }
    /*Estilização do id in_com media*/
    #in_com {
        text-align: left;
    }
    /*Estilização da caixa de comentario media*/
    #your_comment {
        width: 60%;
        height: 3vh;
        margin: 10px;
        border: rgb(0, 0, 0, 0.6) solid 1px;
        padding: 0;
        margin: 0;
    }
    /*Estilização do id art4 media*/
    #art4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Estilização da class sec4 media*/
    .sec4 {
        width: 90vw;
        margin: 10px;
    }
}