/*Parte que incorpora o html*/
body {
    background-color: #dfdfdf;
    font-size: 20px;
    text-align: justify;
}

#div0 {
    text-align: center;
}
/*estilizaçao do primeiro article*/
#card-item {
    background-color: #063e8d;
    border: #063e8d solid 1px;
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
}

#div{
    margin-bottom: 0;
}
/*estilizaçao dos comentarios*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}


/*estilizaçao dos ""*/

.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size:x-large;
}

#div5 {
    margin-top: 5%;
}


html {
    margin: 0;
    min-height: 300px;
  }

  /*responsável pelo titulo e cor*/
  #titulo1 {
    background-color: #c6d0de;
    margin-top: 1%;
    text-align: center;
  }
  

  /*responsavel pela imagem icon*/
  .image {
    width: 50%;
    height: 85%;
    border-radius: 2%;
  }

  /*responsável pela box shadow de um dos artigos*/
  #bloco1 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 2%;
        width: 60%;
        margin-left: 18%;
  }


  /*responsável pelos icon e paragrafos*/
  #icon1 {
    width: 83px;
    margin-left: 10%;
  }

  #p1 {
    width: 50%;
    margin-left: 30%;
  }

  #linha {
    margin: 1%;
    padding: 2%;
    display: flex;
  }

  #linha2 {
    border-left: 1px solid black;
  }

  #p2 {
    width: 50%;
    margin-left: 22%;
  }

  #icon2 {
    width: 80px;
    margin-left: -6%;
    border: 3px solid black;
    border-radius: 100%;
  }

  h2 {
    margin-right: 6%;
  }

  #jm {
    margin-left: 15%;
  }

  #sla {
margin-left: 5%;
  }
  /*estilizaçao do header e do footer*/
  .iframe1 {
    margin-bottom: -5px;
    bottom: 0%;
}
*{
    margin: 0;
}

.p {
  font-size: 20px;
}


/*responsividade do site*/
@media screen and (max-width: 687px) {

/*Parte que incorpora o html para o celular*/
  body {
    width: 100vw;
  }

  h2 {
    margin: 0;
  }

  /*responsável pela responsividade de um dos artigos*/
  #bloco1 {
    margin: 5px;
    padding: 15px;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  /*responsável pelos icons e paragrafos responsivos*/
  #linha {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  /*responsividade do article*/
  #sla {
    margin: 0;
  }

  /*responsividade da section*/
  #lower1 {
    margin: 0;
    width: 80vw;
    align-items: center;
    justify-content: center;
  }

  /*responsividade da section*/
  #lower2 {
    margin: 30px;
    padding: 0;
    width: 80vw;
    border: white solid 0px;
    align-items: center;
    justify-content: center;
  }

  /*imagem do Brasil*/
  #icon1 {
    margin: 0;
  }

  #icon2 {
    margin-left: 4px;
  }

  /* h2 - Politica + economia no Brasil*/
  #jm {
    margin: 0;
  }

  /*responsividade do paragrafo*/
  #p1 {
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #p2 {
    width: 80vw;
    margin: 0;
    text-align: justify;
  }

  /*responsável pelo card sobre saneamento no brasil junto com o icon*/
  #linha2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
  }

/*Responsável por deixar os comentários responsivos*/
 form {
  text-align: center;
 }

 /*responsividade - Digite seu cometario*/
 #your_comment {
  width: 60%;
  height: 3vh;
  margin: 10px;
  border: rgb(0, 0, 0, 0.6) solid 1px;
  padding: 0;
  margin: 0;
 }

 /*label - insira seu comentario*/
 #in_com {
  text-align: left;
 }

 /*Parte que é responsavel por conter os comentarios das pessoas*/
  #art4 {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: -10px;
  }

  /*section*/
  .sec4 {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 10px
  }
  
  .p {
    width: 100%;
  }
}