/*Parte que incorpora o html*/
body {
    background-color: rgb(220, 220, 220);
    text-align: justify;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*Parte que contem o titulo*/
#titulo {
    color: black;
    text-align: center;
    background-color: #c6d0de;
    margin-bottom: 5%;
}
#sla {
    display: flex;
}
/*estilizaçao do primeiro article*/
#div1 {
    display: flex;
    width: 70%;
}

#arc1 {
    padding: 2%;
    margin: 1%;
    background-color: none;


}
#sec1 {
    padding: 2%;
    margin: 1%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left: #063e8d solid 10px;
    display: flex;
    overflow: hidden;
}

.img1 {
    text-align: end;
}
/*estilizaçao do segundo article*/
#div2 {
    width: 30%;
}

#arc2 {
    background-color: none;
    padding: 2%;
    margin: 1%;
    border-left: black solid 1px;
    


}
#sec2 {
    padding: 2%;

    margin: 1%; 
    padding: 10%;
    background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-left: #063e8d solid 10px;
    border-radius: 10px;
}
/*estilizaçao do terceiro article*/
#sec3 {
    padding: 2%;
    margin: 1%; background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-top: 6%;
    border-left: #063e8d solid 10px;
  }


#mundo {
    padding: 2%;
    margin: 1%; background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin-top: 9%;
}


.image {
  width: 100%;
  height: 512spx;
  border-radius: 2%;
}

#card-item {
    border: #063e8d solid 1px;
    width: 50%;
}

#div{
    margin-bottom: 0;
}
/*estilizaçao dos comentarios*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

/*estilizaçao dos ""*/
.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size:x-large;
}
/*estilizaçao do header e do footer*/
.iframe1 {
    margin-bottom: -5px;
    bottom: 0%;
}
*{
    margin: 0;
}
p {
    margin: 5%;
}


/*responsividade do site*/
@media screen and (max-width: 687px) {
/* Primeiro texto responsivo */
    #sla {
        display: flex;
        flex-direction: column;
    }

    /*responsividade do primeiro article*/
    #div1 {
        width: 100vw;
    }
    
/* Segundi testo responsivo */
    #sec1 {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }

    #arc1 {
        align-items: center;
    }

/* Curiosidades e aapl responsiva */
    aside {
        width: 100vw;
    }

/* Sessão de comentários responsiva */
    form {
        text-align: center;
    }

    /*responsividade - Digite seu cometario*/
    #your_comment {
        width: 60%;
        height: 3vh;
        margin: 10px;
        border: rgb(0, 0, 0, 0.6) solid 1px;
        padding: 0;
        margin: 0;
    }

    /*label - insira seu comentario*/
    #in_com {
        text-align: left;
    }

     /*Parte que é responsavel por conter os comentarios das pessoas*/
    #art4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec4 {
        width: 90vw;
        margin: 10px;
    }
}