/*Parte que incorpora o html*/
body {
background-color: rgb(220, 220, 220);
font-size: 20px;
text-align: justify;
}
/*Parte que contem o titulo*/
#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}

/*estilizaçao do primeiro article*/
#bloco1 {   background-color: #c6d0de;
    border-left: #063e8d solid 10px;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}
/*estilizaçao do segundo article*/
#bloco2 { 
    width: 65%;
      background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left: #063e8d solid 10px;
    padding:2%;
    margin: 1%;

}
.lado {
    display: flex;
}
/*estilizaçao do terceiro article*/
#bloco3{
    padding:2%;
    margin: 1%
}
/*estilizaçao do aside*/
aside {
    width: 35%;
}
#card3 {
    background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left: #063e8d solid 10px;
    padding:2%;
    margin: 1%
}
/*estilizaçao dos titulos*/
h1{
    text-align: center;
    margin: 5px;
}

#card1{
  display: flex;
}
/*estilizaçao das imgs*/
img{
    border-radius: 10px;
}
/*estilizaçao do header e do footer*/
#iframe{
    bottom: 0%;
    margin-bottom: -5px;
}


p{
    margin-top: 10px;
}
/*estilizaçao dos comentarios*/
#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
}

#p1{
    margin-top: 4%;
    margin-left: 2%;
}

.img4 {
    margin-top: 2%;
}

#img5 {
    width: 100%;
    height: 100%;
}
 

.sub {
    text-align: center;
    margin-top: 2%;
}
/*estilizaçao dos componentes do titulo*/

#card-item {
    border: #063e8d 2px solid;
    background-color: #063e8d;
    width: 30%;
    margin: auto;
}
#card-item2 {
    border: #063e8d 2px solid;
    background-color: #063e8d;
    width: 23%;
    margin: auto;
}

#div{
    margin-bottom: 0;
}
#art7 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec7 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

/*estilizaçao dos ""*/
.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size:x-large;
}

#div5 {
    margin-top: 5%;
}
/*estilizaçao do header e do footer*/
.iframe1 {
    margin-bottom: -5px;
    bottom: 0%;
}
*{
    margin: 0;
}
p {
    margin: 5%;
}


/*responsividade do site*/
@media screen and (max-width: 687px) {
/* Primeiro texto responsivo */
    #div1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #bloco1 {
        margin: 0;
        text-align: center;
        width: 83vw;
        margin-top: 6vh;
        margin-bottom: 6vh;
    }

    /*Parte onde contem a escrita do artigo*/
    #card1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    /*responsividade do paragrafo*/
    p {
        text-align: justify;
    }
/* Segundo texto responsivo */

    #div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 83vw;
    }

    /*div*/
    .lado {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    #bloco2 {
        width: 83vw;
        margin-top: 6vh;
    }
    /* Sessão do gráfico responsivo */
    aside {
        width: 100vw;
    }

    #bloco3 {
        width: 90vw;
        margin-left: 20px;
    }

    #card3 {
        width: 83vw;
        align-items: center;
        margin: 0;
        margin-top: 6vh;
    }

/* Sessão comentários responsiva */
    form {
        text-align: center;
    }

    /*responsividade - Digite seu cometario*/
    #your_comment {
        width: 60%;
        height: 3vh;
        margin: 10px;
        border: rgb(0, 0, 0, 0.6) solid 1px;
        padding: 0;
        margin: 0;
    }

    /*label - insira seu comentario*/
    #in_com {
        text-align: left;
    }

     /*Parte que é responsavel por conter os comentarios das pessoas*/
    #art7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    /*section*/
    .sec7 {
        width: 90vw;
        margin: 10px;
    }
}