 /*responsável pela página inteira (corpo da página)*/
body {
    background-color: rgb(223, 223, 223);
}

/*estilização do ID titulo*/
#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}

/*estilização do ID bloco1*/
#bloco1 {   background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 94%;
}

/*estilização do ID bloco2*/
#bloco2 { 
    width: 65%;
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    margin-top: 3%;

}

/*estilização do ID bloco3*/
#bloco3{
    padding:2%;
    margin: 1%;
    margin-top: 6%;
}

/*estilização aside*/
aside {
    width: 35%;
}

/*estilização Card3*/
#card3 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    width: 100%;
    margin: 1%
}

/*estilização do h1*/
h1{
    text-align: center;
    margin: 5px;
}

/*estilização do card1*/
#card1{
  display: flex;
}

/*estilização da imagem*/
img{
    border-radius: 10px;
}

/*estilização do iframe*/
#iframe{
    bottom: 0%;
    margin-bottom: -5px;
}


/*estilização do paragrafo*/
p{
    margin-top: 10px;
}

/*estilização do div4*/
#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
}

/*estilização do paragrafo*/
#p1{
    margin-top: 6%;
    margin-left: 5%;
}

/*estilização do imagem4*/
#img4 {
    margin-top: 1%;
}

/*estilização do imagem5*/
#img5 {
    margin-left: 3%;
}

/*estilização do imagem0*/
#img0 {
    margin-bottom: -2%;
    margin-top: 2%;
}

/*estilização do titulo*/
h2 {
    margin-top: 1%;

}

/*estilização do paragrafo*/
#p2 {
    margin-top: 9%;
    margin-left: -19%;
    margin-bottom: -9%;
}

#ado {
    margin-left: 11%;
}

/*estilização imagem*/
#img00 {
    margin-right: 2%;
    margin-top: 2%;
}

#h22 {
    margin-left: -1%;
}

#adulto {
    margin-left: 4px;
}

li {
    margin: 5px;
   margin-left: 2px;
    list-style: none;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 10%;
    margin-bottom: 0;

}

/*responsável pela estilização do art4*/
.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 100%;
    margin-bottom: 0;
    margin-top: 3%;
}

/*responsável pela estilização dos ícones*/
.icon_profile {
    border-radius: 100%;
}

/*responsável pela estilização dos comentarios*/
.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

/*responsável pela estilização dos comentarios*/
.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

/*responsável pela estilização dos comentarios*/
.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
}

#your_comment {
    width: 200%;
}

#comments {
    font-size:x-large;
    margin-top: 4%;
}

/*responsável pela estilização do paragrafo*/
p {
font-size: 20px;
}    


 /*responsável pela responsividade**/
@media screen and (max-width:687px) {

    /*estilizacao do body*/
    body {
        background-color: rgb(223, 223, 223);
    }

    #main {
        display: flex;
        flex-direction: column;
    }

    #div1 {
        margin-left: -20vw;
    }

    #titulo {
        color: rgb(0, 0, 0);
        text-align: center;
        background-color: #c6d0de;
        margin-top: 1%;
    }
    
    p1 {
        width: 180vw;
        text-align: justify;
        flex-direction: column;
        display: flex;
    }
    
    /*estilizacao do bloco1*/
    #bloco1 {   
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 5%;
        width:86vw;
        margin-left: 18%;
        }
        

    /*estilizacao do bloco2*/
    #bloco2 { 
        width: 80vw;
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 5%;
        }

    .lado {
        display: flex;
        flex-direction: column;
    }
    
    /*estilizacao do bloco3*/
    #bloco3{
        padding:2%;
        margin: 1%;
        width: 94vw;
        margin-top: 6%;
    }
    
    /*estilizacao do card3*/
    #card3 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin: 1%;
        width: 86vw;
    
    }
    
    h1{
        text-align: center;
        margin: 5px;
    }
    
    /*estilizacao do card1*/
    #card1{
      display: flex;
      flex-direction: column;
    }
    
    /*estilizacao do img*/
    img{
        border-radius: 10px;
    }

    /*estilizacao do iframe*/
    #iframe{
        margin-bottom: -5px;
    }
    
    /*estilizacao do paragrafo*/
    p{
        margin-top: 10px;
    }
    
    #div4{
        margin-top: 3%;
        border-top: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 9%;
        margin-bottom: 5px solid black;
    }
    
    #p1{
        width: 75vw;
        margin-left: 10%;
        text-align: justify;
    }
    
    #img4 {
        margin-top: 15%;
    }
    
    /*estilizacao da imagem*/
    #img5 {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    
    #img0 {
        margin-bottom: -2%;
        margin-top: 2%;
    }
    
    h2 {
        margin-top: 1%;
    }
    
    #p2 {
        width: 75vw;
        margin-left: 10%;
        text-align: justify;
    }
    
    #ado {
        margin-left: 11%;
    }
    
    #img00 {
        margin-right: 2%;
        margin-top: 2%;
    }
    
    #h22 {
        margin-left: -1%;
    }
    
    #adulto {
        margin-left: 4px;
    }
    
    li {
        margin: 5px;
       margin-left: 2px;
        list-style: none;
    }
    #div{
        margin-bottom: 0;
    }
    
    /*estilização art4*/
    #art4 {
        background-color: none;
        margin: 1%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    
    /*estilização sec4*/
    .sec4 {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        margin: 1%;
        width: 98vw;
        flex-direction: column;
        display: flex;
        margin-top: 3%;
        margin-left: -21px;
        width: 87vw;
        font-size: 15px;
        
    }
    
    /*estilização icone*/
    .icon_profile {
        border-radius: 100%;
    }
    
    .nickname {
        margin-left: 5%;
        margin-top: 5%;
        border-bottom: 2px solid #063e8d;
    }

    /*estilização icone, informações*/
    .comment_info {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    
    .title_name {
        color: #999;
    }
    
    
    .content_comment_card p::after {
        content: "\201D";
        display: flex;
        flex-direction: column;
        display: inline;
        color: #999;
    }
    
    .content_comment_card p::before {
        content: "\201C";
        display: inline;
        color: #999;
    }
    
    #div5 form {
       flex-direction: column;
       display: flex;
    }
    
    #your_comment {
        width: 50vw;
        
    }
    
    #comments {
        font-size:x-large;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
    }
    
    /*estilização paragrafo*/
    p {
    font-size: 20px;
    }    

    #img1 {
        margin-top: 20px;
        width: 50vw;
        margin-left: 80px;
        height: 100px;
    }

}

