/*responsavel pela cor de fundo*/
body {
    background-color: rgb(223, 223, 223);
    
}

/*responsavel pela estilização do titulo*/
#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}

/*estilo das box shadow*/
#bloco1 {   background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}


/*estilização do bloco 2*/
#bloco2 { 
    width: 60%;
      background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;

}
.lado {
    display: flex;
}

/*estilização do bloco 3*/
#bloco3{
    padding:2%;
    margin: 1%;
}

aside {
    width: 40%;
}

/*estilização do card3*/
#card3 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%
}

/*estilização do h1*/
h1{
    text-align: center;
    margin: 5px;
}

/*estilização do card1*/
#card1{
  display: flex;
}

/*estilização da imagem*/
img{
    border-radius: 10px;
}

/*estilização do iframe*/
#iframe{
    bottom: 0%;
    margin-bottom: -5px;
}


/*estilização do paragrafo*/
p{
    margin-top: 10px;
}

#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
}

/*estilização do p1*/
#p1{
    margin-top: 4%;
}

/*estilização da img4*/
#img4 {
    margin-top: 2%;
    margin-left: 10px;
}

#img5 {
    margin-left: 11%;
}

#div5 {
    text-align: center;
}

#img0 {
    margin-top: -27px;
}

#img00 {
    margin-bottom: -18px;
    margin-top: 10px;
}

#div6 {
    background-color: rgb(253, 199, 208);
    text-align: center;
    margin-top: 3%;
}

/*estilização do art1*/
#art1 {
    display: flex;
    margin: 5px;
    padding: 10px;
    
}

/*estilização do hover dos cards*/
.loi:hover {
    transform: scale(1.05);
}

/*estilização dos cards*/
.loi {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    text-align: center;
    margin: 3%;
}

/*estilização das img*/
img {
    margin-left: 15px;
}

/*estilização do anuncio*/
#anuncio {
    text-align: center;
    margin-top: 2%;
}

#div{
    margin-bottom: 0;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

/*estilização sec4*/
.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
    margin-top: 3%;
}

/*estilização icones*/
.icon_profile {
    border-radius: 100%;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

/*estilização icones informações*/
.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 200%;
}

#comments {
    font-size:x-large;
    margin-top: 4%;
}

p {
    font-size: 20px;
}

/*estilização para tornar o site responsivo pelo celular*/
@media screen and (max-width:687px) {
    body {
        background-color: rgb(223, 223, 223);
    }
    
/*estilização do título*/
    #titulo {
        color: rgb(0, 0, 0);
        text-align: center;
        background-color: #c6d0de;
        margin-top: 1%;
    }
    
    /*estilo das box shadow*/
    #bloco1 {   background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 2%;
        width: 60vw;
        margin-left: 18%;
        flex-direction: column;
        display: flex;
    }
    
/*estilização do bloco2*/
    #bloco2 { 
        width: 80vw;
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin: 1%;
        margin-left: 5vw;
        flex-direction: column;
        display: flex;
    
    }
    .lado {
        flex-direction: column;
        width: 100vw;
    }

/*estilização do bloco2*/
    #bloco3{
        padding:2%;
        margin: 1%;
        margin-left: 5vw;
    }
    
    aside {
        width: 40vw;
    }

/*estilização do card 3*/
    #card3 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin: 1%;
        flex-direction: column;
        display: flex;
        width: 80vw;
    }
    

/*estilização do h1*/
    h1{
        text-align: center;
        margin: 5px;
        flex-direction: column;
    }
    
/*estilização do card1*/
    #card1{
      display: flex;
      flex-direction: column;
    }
    
/*estilização da imagem*/
    img{
        border-radius: 10px;
    }
    
/*estilização do iframe*/
    #iframe{
        bottom: 0%;
        margin-bottom: -5px;
    }
    
/*estilização do p*/
    p{
        margin-top: 10px;
    }
    
    #div4{
        margin-top: 3%;
        border-top: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 9%;
        margin-bottom: 5px solid black;
    }
    
    #p1{
        margin-top: 4%;
    }
    
/*estilização da img4*/
    #img4 {
        margin-top: 2%;
        margin-left: 10px;
    }
    
    #img5 {
        margin-left: 11%;
    }
    
    #div5 {
        text-align: center;
    }
    
    #img0 {
        margin-top: -27px;
    }
    
/*estilização da 00*/
    #img00 {
        margin-bottom: -18px;
        margin-top: 10px;
    }
    
    #div6 {
        background-color: rgb(253, 199, 208);
        text-align: center;
        margin-top: 3%;
    }
    
/*estilização do art1*/
    #art1 {
        display: flex;
        margin: 5px;
        padding: 10px;
        flex-direction: column;        
    }
    
/*estilização do hover dos cards*/
    .loi:hover {
        transform: scale(1.05);
    }
    
/*estilização dos cards*/
    .loi {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        margin-top: 12%;
        width: 60%;
        margin-right: 23%;
        width: 75vw;
        display: flex;
        flex-direction: column;
    }
    

    #div{
        margin-bottom: 0;
    }
    
    /*responsável pela aba de comentários*/
    #art4 {
        background-color: none;
        margin: 1%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    
/*estilização da sec4*/
    .sec4 {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        padding: 2%;
        width: 75vw;
        flex-direction: column;
        margin-left: -5px;
        margin-right: -15px;
    }
    
/*estilização da ícone*/
    .icon_profile {
        border-radius: 100%;
    }
    
    .nickname {
        margin-left: 5%;
        margin-top: 5%;
        border-bottom: 2px solid #063e8d;
    }
    
/*estilização do comment_info*/
    .comment_info {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    
    .title_name {
        color: #999;
    }
    
/*estilização/estruturação dos cards*/
    .content_comment_card p::after {
        content: "\201D";
        display: inline;
        color: #999;
    }
    
    .content_comment_card p::before {
        content: "\201C";
        display: inline;
        color: #999;
    }
    
    #div5 form {
     display: flex;
    }
    
    #your_comment {
        width: 50vw;
    }
    
    #comments {
        font-size:x-large;
        margin-top: 4%;
    }
    
/*estilização do paragrafo*/
    p {
        font-size: 20
    }

/*estilização do anuncio*/
    #imagemanuncio {
        margin-left: -5vw;
    padding: 15px;
    width: 80vw;
    }

































}