body {
    background-color: #dfdfdf;
    font-size: 20px;
    text-align: justify;
}

#div0 {
    text-align: center;
}

#card-item {
    background-color: #063e8d;
    border: #063e8d solid 1px;
    width: 60%;
    margin: auto;
    margin-bottom: 2%;
}

#div{
    margin-bottom: 0;
}
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.content_comment_card {

}
.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.comment_card {

}

.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size:x-large;
}

#div5 {
    margin-top: 5%;
}


html {
    margin: 0;
    min-height: 300px;
  }

  /*responsável pelo titulo e cor*/
  #titulo1 {
    background-color: #c6d0de;
    margin-top: 1%;
    text-align: center;
  }
  

  /*responsavel pela imagem icon*/
  .image {
    width: 50%;
    height: 85%;
    border-radius: 2%;
  }

  /*responsável pela box shadow de um dos artigos*/
  #bloco1 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 5%;
        width: 60%;
        margin-left: 18%;
  }


  /*responsável pelos icon e paragrafos*/
  #icon1 {
    width: 83px;
    margin-left: 10%;
  }

  #p1 {
    width: 50%;
    margin-left: 30%;
  }

  #linha {

    padding: 2%;
    display: flex;
  }

  #linha2 {
    border-left: 1px solid black;
    margin-right: 10%;
    
  }

  #p2 {
    width: 50%;
    margin-left: 22%;
  }

  #icon2 {
    width: 80px;
    margin-left: -6%;
    border: 3px solid black;
    border-radius: 100%;
  }

  h2 {
    margin-right: 6%;
  }

  #jm {
    margin-left: 15%;
  }

  #sla {
margin-left: 5%;
  }
  
  .iframe1 {
    margin-bottom: -5px;
    bottom: 0%;
}
*{
    margin: 0;
}

.sla {
    text-align: center;
}

