body {
    background-color: rgb(220, 220, 220);
}

h1 {
    color: black;
    margin-left: 120%;
    font-size: 70px;
}

/*banner*/
.main-banner {
    background: url(../../../../assets/imagens/banner2.png) no-repeat;
    background-size: cover;
    background-position: 0 30%;
    position: relative;
    border-radius: 10px;

}

.flexslider {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 7%;
    text-align: center;
}

/*Fixação do footer*/
#iframe2 {
    bottom: 0%;
    margin-bottom: -5px;
}

* {
    margin: 0;
}

/*Estilização div1*/
#div1 {
    text-align: center;
    padding: 2%;

}

#bloco1 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding: 1%;
    margin: 5%;
    width: 70%;
    text-align: center;
    margin: auto;
}

h2 {
    text-align: center;
}

/*estilização dos cards*/
.section {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    text-align: center;
    width: 33%;
}

#div2 {
    display: flex;
    border-top: 1px solid black;
    padding: 1%;
}

#div3 {
    display: flex;

}

#div4 {
    display: flex;
}

h2 {
    text-align: center;
}

.img1 {
    margin: 2%;
    padding: 1%;
    margin: 2%;
    align-items: center;
}

/*hover*/
.section:hover {
    transform: scale(1.05);
}

#div {
    margin-bottom: 0;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
    margin-top: 4%;
    margin-right: 10%;

}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
    display: flex;
}

.icon_profile {
    border-radius: 100%;
}

.content_comment_card {
    display: flex;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.comment_card {}

.content_comment_card p::after {
    content: "\201D";
    display: inline;
    color: #999;
}

.content_comment_card p::before {
    content: "\201C";
    display: inline;
    color: #999;
}

#div5 form {
    margin-left: 4%;
    flex-direction: column;
    display: flex;
}

#your_comment {
    width: 200%;
}

#comments {
    font-size: x-large;
    margin-top: 4%;
    text-align: left;
}

#div5 {
    margin-top: 1%;
    margin-left: 3%;
}

.p {
    font-size: 20px;
    margin-top: 2%;
}

@media screen and (max-width: 687px) {

    /* Arrumando os comentarios */
    #art4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .sec4 {
        width: 65vw;
    }

    #bloco1 {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    /*arrumando blosos*/
    #div1 {
        width: 100vw;
    }
    #div2 {
        flex-direction: column;
    }
    #div4{
        flex-direction: column;
    }
    /*arrumando escritas*/
    .p {
        width: 175px;
        text-align: center;
        margin: 10vw;
    }

    .p {
        font-size: 13px
    }
}