/*Estilização do body*/
body {
    background-color: rgb(220, 220, 220);
}

/*Estilização do título*/
#titulo {
    color: black;
    text-align: center;
    background-color: #c6d0de;
}

/*Estilização dos blocos*/
#bloco1 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    margin-left: 107px;
    margin-right: 107px;
    margin-bottom: 2%;
}

#bloco2 {
    width: 65%;
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;

}

#bloco3 {
    padding: 2%;
    margin: 1%
}

.lado {
    display: flex;
}

/*Estilização do aside*/
aside {
    width: 35%;
}

/*Estilização dos blocos*/
#card3 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding: 2%;
    margin: 1%
}

#card1 {
    margin-left: 107px;

    display: flex;
}

img {
    border-radius: 10px;
}

p {
    margin-top: 2%;
}

/*Fixação do header e footer*/
#iframe2 {
    bottom: 0%;
    margin-bottom: -5px;
}

* {
    margin: 0;
}

/*Estilização ul li*/
ul li {
    list-style: none;
}

.linha-do-tempo {
    position: relative;
    max-width: 1024px;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    overflow: hidden;
}

.marcador {
    width: 50%;
    float: left;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 2px dashed;
    box-sizing: border-box;
}

.ano {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    color: white;
    background-color: #e00808;
    text-align: center;
    margin-top: 7%;
    margin: 1% auto;
    clear: both
}

.item {
    width: 44%;
    margin: 4% 0.5%;
    padding: 1%;
    float: right;
}

.item:nth-last-of-type(2n) {
    float: left;
    margin: 4% 0.5%;
    padding: 1%;
}

.item p {
    color: black;
    text-align: center;
}

.item p a {
    color: black;
}


/*Estilização h2*/
h2 {
    text-align: center;
    background-color: #c6d0de;
}

#ll {
    margin-bottom: 2%;
}

#img1 {
    margin-right: 6%;
}

#div {
    margin-bottom: 0;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.content_comment_card {}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.comment_card {}

.content_comment_card p::after {
    content: "\201D";
    display: inline;
    color: #999;
}

.content_comment_card p::before {
    content: "\201C";
    display: inline;
    color: #999;
}

#div5 form {
    margin-left: 4%;
    flex-direction: column;
    display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size: x-large;
    margin-top: 4%;
}

.p {
    font-size: 20px;
    margin-top: 7%;
}

@media screen and (max-width: 687px) {
    #card1 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: 30%;
    }
    .p {
        font-size: 13px
        
    }
    #img1 {
        margin-right: 6%;
    }
    
    h3{
        font-size: 10px;
    }
    h4{
          font-size: 8px;  
    }
    .imagemprincipal {
        width: 50vw;
        height: 35vh;
    }
    #img1{
        height: 100px;
        width: 100px;
        margin: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .p {
        width: 175px;
    }

    div {
        align-items: center;
    }
    #bloco1 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding: 2%;
        margin: 1%;
       margin-left: 5px;
       width: 300px;
       align-items: center;
       justify-content: center;
       display: flex;
       flex-direction: column;
    }
    #art4{
        flex-direction: column;
        align-items: center;
    }
    .sec4{
        width: 65vw;
    }
    main{
        align-items: center;
    }
    #bloco4{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

}