html {
    margin: 0;
    min-height: 300px;
}

/*Estilização body*/
body {
    text-align: center;

    background-color: rgb(223, 223, 223);
}

/*Estilização h1 e h2*/
.titulo1 {
    background-color: #c6d0de;
    margin-bottom: 2%;
}

h2 {
    font-size: 25px;
    margin-bottom: 2%;
}

/*Carousel*/
.slide-controller:nth-child(1):checked~.slide-show .slides-list {
    --selected-item: 0;
}

.slide-controller:nth-child(2):checked~.slide-show .slides-list {
    --selected-item: 1;
}

.slide-controller:nth-child(3):checked~.slide-show .slides-list {
    --selected-item: 2;
}

.slide-controller:nth-child(4):checked~.slide-show .slides-list {
    --selected-item: 3;
}



/*Estilização slide*/
.slide-show {
    overflow: hidden;
    padding: 2%;
}

.slides-list {
    --selected-item: 2;
    --total-items: 4;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slide {
    width: 100%;
}

/*Estilização imagem*/
.image {
    width: 50%;
    height: 85%;
    border-radius: 5px;
}

/*Esilização título*/
#titulo {
    color: white;
    text-align: center;
}


/*Estilização card1*/
#card1{
    text-align: center;
    width: 70%;
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    margin-left: 107px;
}

/*Estilização div1*/
#div1 {
    width: 70%;
    margin-left: 15%;
}

/*Estilização div2*/
#div2 {
   display: flex;
}

/*Estilização bloco3*/
#blocos3{
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    width: 70%;
}

/*Estilização div3*/
#div3{
    display: flex;
}

/*Estilização lado-R*/
#lado-R {
    width: 30%;
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;
    margin-right: 5%;
    margin-left:5%; 
}

/*Fixar header e footer*/
#iframe2{
    bottom: 0%;
    margin-bottom: -5px;
}

*{
    margin: 0;
}

/*Estilização h1*/
h1{
    margin-top: 1%;
}

/*Estilização p*/
.p{
    font-size: 20px;
}

#div{
    margin-bottom: 0;
}

/*responsável pela aba de comentários*/
#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
    display: flex;
}

.icon_profile {
    border-radius: 100%;
}

.content_comment_card {
display: flex;
}
.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.comment_card {
    
}

.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments {
    font-size:x-large;
    margin-top: 4%;
    text-align: left;
}

@media screen and (max-width: 687px) {
    
}