@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 1000px;
}

input {
    width: 20vw;
    height: 2.5vh;
}

#categoria {
    width: 20vw;
    height: 2.5vh;
}

#op_cat {
    opacity: 0.3;
    font-style: italic;
}

#left {
    margin-left: 125px;
    margin-top: 100px;
}

#global {
    display: flex;
}

#right {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 75px;
    margin-right: 10vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;

}

#right h2 {
    margin-left: 20px;
}

.texto {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#bottom {
    display: flex;
    flex-direction: column;
}

#botao {
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #212A3E;
    color: #F1F6F9;
}

#botao:hover {
    background-color: #F1F6F9;
    color: #212A3E;
    transition: 0.5s;
}

#data {
    margin-top: 10px;
    margin-left: 65px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

#tabela {
    width: 45vw;
    align-items: center;
    justify-content: center;
    position: relative;
}


.plots {
    border: #212A3E 1px solid;
    -webkit-box-shadow: 10px 11px 31px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 31px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 31px -11px rgba(0,0,0,0.75);
    width: 85%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: flex;
}

.sec_tab {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#btn_tab {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #212A3E;
    color: #F1F6F9;
    width: 100%;
}

#btn_tab:hover {
    background-color: #F1F6F9;
    color: #212A3E;
    transition: 0.5s;
}

#left {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#errorMsg{
    color: red;
    font-weight: bold;
}

button {
    margin: 10px;
}

#edited {
    font-style: italic;
    position: absolute;
    text-align: center;
    top: 4vh;
    color: rgba(107, 98, 98, 0.667);
}

@media screen and (max-width: 800px) {

    #global {
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 50vw;
        border: 1px solid black;
    }

    #categoria {
        border: 1px solid black;
        border-radius: 5px;
        width: 70vw;
        height: 10vw;
    }

    #titulo {
        height: 10vw;
    }

    #resumo {
        height: 10vw;
    }

    #autortitle {
        height: 10vw;
    }

    select {
        width: 50vw;
    }

    #right {
        width: 100%;
        margin: 10px;
        padding: 0;
        margin: 10px;
        height: auto;
        align-items: center;
    }


    #left {
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5vh;
    }

    #tabela {
        height: auto;
        margin: 0;
        width: 90%;
    }

    #data {
        margin: 5vw;
        width: 50vw;
        height: 2vh;
        font-size: 25px;
    }

    #botao {
        margin: 10px;
        padding: 1vh;
        font-size: 20px;
    }

    #plots {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90vw;
        margin: 0;
        margin-right: -100%;
    }

    .plots {
        width: auto;
        height: auto;
        margin-left: 5%;
    }

    .sec_tab {
        width: auto;
        height: auto;
        margin-left: 2vw;
    }

    #tabela {
        height: auto;
    }

    #btn_tab {
        width: 100%;
        margin-left: 2vw;
    }
    main {
        height: auto;
    }

    label {
        font-size: 25px;
    }

    input {
        border: 1px solid black;
        width: 70vw;
        border-radius: 5px;
        font-size: 15px;
    }

}