html {
    margin: 0;
    min-height: 300px;
  }
  
  /*responsável pela cor de fundo do site*/
  body {
    text-align: center;
    margin: 0;
    background-color: rgb(223, 223, 223);
  }

  /*responsável pelo titulo e cor*/
  #titulo1 {
    background-color: #c6d0de;
    margin-top: 1%;
  }
  
  /*responsável pelo carrosel de fotos*/
  .slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
  .slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
  .slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
  .slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
  
  .slide-show {
    overflow: hidden;
  }
  
  .slides-list {
    --selected-item: 0;
    --total-items: 4;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    width: calc(var(--total-items) * 100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  
  .slide {
    width: 100%;
  }


  /*responsavel pela imagem icon*/
  .image {
    width: 50%;
    height: 85%;
    border-radius: 2%;
  }

  /*responsável pela box shadow de um dos artigos*/
  #bloco1 {
        background-color: #c6d0de;
        border: 1px black solid;
        -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
        border-left: #063e8d solid 10px;
        border-radius: 10px;
        padding:2%;
        margin-top: 2%;
        width: 60%;
        margin-left: 18%;
  }


  /*responsável pelos icon e paragrafos*/
  #icon1 {
    width: 83px;
    margin-left: 10%;
  }

  #p1 {
    width: 50%;
    margin-left: 30%;
  }

  #linha {
    margin: 1%;
    padding: 2%;
    display: flex;
  }

  #linha2 {
    border-left: 1px solid black;
  }

  #p2 {
    width: 50%;
    margin-left: 22%;
  }

  #icon2 {
    width: 80px;
    margin-left: -6%;
  }

  h2 {
    margin-right: 6%;
  }

  #jm {
    margin-left: 15%;
  }

  #art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
    text-align: none;
  }
  
  .sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
  }
  
  .icon_profile {
    border-radius: 100%;
  }
  
  .nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
  }
  
  .comment_info {
    display: flex;
    margin-top: 10%;
  }
  
  .title_name {
    color: #999;
  }
  
  
  .content_comment_card p::after {
  content: "\201D";
  display: inline;
  color: #999;
  }
  
  .content_comment_card p::before {
  content: "\201C";
  display: inline;
  color: #999;
  }
  
  #div5 form {
    margin-left: 4%;
   flex-direction: column;
   display: flex;
  }
  
  #your_comment {
    width: 29.9%;
  }
  
  #comments {
    font-size:x-large;
    margin-top: 4%;
    margin-left: -90%;
  }

  p {
    font-size: 20px;
}



/*responsividade*/

@media screen and (max-width: 687px){
  body {
    width: 100vw;
  }

  h2 {
    margin: 0;
  }

  #card1{
    display: flex;
    flex-direction: column;
  }

  #bloco1 {
    margin: 0vw;
    padding: 5vw;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

  #bloco2 {
    margin: 0vw;
    padding: 5vw;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

  #bloco3{
    padding:2%;
    margin: 1%;
    margin-top: 6%;
    width: 260%;
}

aside {
    width: 35%;
}

  #linha {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  #sla {
    margin: 0;
  }

  #lower1 {
    margin: 0;
    width: 80vw;
    align-items: center;
    justify-content: center;
  }

  #lower2 {
    margin: 30px;
    padding: 0;
    width: 80vw;
    border: white solid 0px;
    align-items: center;
    justify-content: center;
  }

  #icon1 {
    margin: 0;
  }

  #icon2 {
    margin-left: 4px;
  }

  #jm {
    margin: 0;
  }

  #p1{
    width: 80vw;
    margin: 0;
    text-align: center;
}  

  #p2 {
    width: 80vw;
    margin: 0;
    text-align:center;
  }

  #linha2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
  }


 form {
  text-align: center;
 }

 #your_comment {
  width: 60%;
  height: 3vh;
  margin: 10px;
  border: rgb(0, 0, 0, 0.6) solid 1px;
  padding: 0;
  margin: 0;
 }

 #comments {
    font-size:x-large;
    margin-top: 4%;
    margin-left: 5%;
  }

 #your_comment {
  text-align: left;
 }

 #art4 {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: -5vw;
  margin-right: -5vw;
  margin-top: 10vw;
}


  .sec4 {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 10px
  }


  
  .p {
    width: 100%;
  }

  .lado {
    display: flex;
    flex-direction: column;
}

#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
    flex-direction: column;
}

h2 {
    text-align: center;
}
} 