/*Estilização do footer*/
footer{
    background-image: radial-gradient(#053f8b,#003985, #013883 , #022455);
    color: white;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Estilização do body*/
body{
    margin:0%;
    padding: 0%;
    text-align: center;
    bottom: 0%;
    position: fixed;
    width: 100%;

}
/*Estilização do p1*/
#p1{
    color:white; 
    margin: 0; 
    font-size: 20px;
}
/*Movimentação da logo*/
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }

  .logo:hover {
    width: 100%;
    height: 100%;
    animation: mymove 5s infinite;
    
}

@keyframes mymove {
  
}
#imggg:hover {
    transform: rotate(350deg);
    animation:alternate;
}


#bordinhamarota {
    border-top: white 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}