<!DOCTYPE html>
<html>
<!--Responsável pelo cabeçalho-->

<head>
    <meta charset="UTF-8">
    <title>Ômega Notícias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="shortcut icon" href="../assets/imagens/logo.png" type="image/x-icon">
</head>

<body>
    <!--Responsável pelo menu-->
    <header>
        <div class="container">
            <div id="sub">
                <a href="#" class="logo">
                    <a href="../index.html" target="_parent"><img class="imgg" src="../assets/imagens/logo.png"
                            alt="Logo do site" width="64px" height="64px">
                    </a>
            </div>
            <!--Links de navegação-->
            <nav>
                <ul>
                    <li><a href="../index.html" target="_parent">Início</a></li>
                    <li><a href="../pages/page1.html" target="_parent">Categoria</a></li>
                    <li><a href="../pages/sobrenós/sobrenós.html" target="_parent">Sobre Nós</a></li>
                    <li><a href="../pages/page35/novoensinomédio.html" target="_parent">Novo Ensino Médio</a></li>
                    <li><a href="../pages/feedback/feedback.html" target="_parent">Feedback</a></li>
                    <li><a href="../pages/contato/contato.html" target="_parent">Contato</a></li>
                </ul>
            </nav>
    </header>
</body>

</html>