/*Estilização das cores do site*/
:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #5a7fb6;
    --color-dark3: #1a3764;
    --color-dark4: #053f8b;
    --color-dark5: #003985;
}
*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*Estilização da imagem do header*/
.img_logo_header{
    width: 45px;
}
/*Estilização da barra de navegação*/
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}
.header{
    background-color: var(--color-dark5);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
/*Estilizacção da barra de navegação*/
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}
/*Estilizacção do hover dos links da barra de navegação*/
.navigation_header a:hover{
    color: var(--color-white);
    background-color: var(--color-dark2);
    padding: 2vh;
    border-radius: 10px;
}
/*Estilização dos icones da barra de navegação*/
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
    margin-left: 5vw;
}
#mobile {
    display: none;
}
/*Estilização da responsividade do header*/
@media screen and (max-width: 768px) {
    /*Estilizacção da barra de nvagação*/
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: auto;
        width: 35vw;
        padding: 1em;
        z-index: 3;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    /*Estilizacção dos botoes do header*/
    .btn_icon_header{
        display: block;
    }
    /*Estilizacção do hover dos icones de link no sidebar*/
    .navigation_header a:hover {
        color: var(--color-white);
        background-color: var(--color-dark2);
        padding: 2vh;
        border-radius: 10px;
    }
    /*Estilizacção dos links da barra de nvagação*/
    .navigation_header a {
        width: 30vw;
    }
    #navigation_header {
        display: none;
    }

    #mobile {
        display: block;
        width: 150vw;
        margin-left: 2vw;
    }
    .icons {
        color: white;
        font-size: 22px;
        text-decoration: none;
    }
    .icons i {
        padding-left: 2vw;
    }
}
/*Animação da sidebar*/
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}