body {
    background-color: rgb(220, 220, 220);
}

#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}


#bloco1 {
    background-color: #c6d0de;
    border-left: #063e8d solid 10px;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    padding: 2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}

#bloco2 {
    width: 65%;
    background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left: #063e8d solid 10px;
    padding: 2%;
    margin: 1%;

}

.lado {
    display: flex;
}

#bloco3 {
    padding: 2%;
    margin: 1%
}

aside{
    width: 35%;
}
#card3 {
    background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    border-left: #063e8d solid 10px;
    padding: 2%;
    margin: 1%
}

h1 {
    text-align: center;
    margin: 5px;
}

#card1 {
    display: flex;
}

img {
    border-radius: 10px;
}

#iframe {
    bottom: 0%;
    margin-bottom: -5px;
}

* {
    margin: 0;
}

p {
    margin-top: 10px;
    font-size: 20px;

}

#div2 {
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
}

#p1 {
    margin-top: 4%;
    margin-left: 2%;
}

.img4 {
    margin-top: 2%;
}

#img5 {
    width: 100%;
    height: 100%;
}

.sub {
    text-align: center;
    margin-top: 2%;
}

#card-item {
    border: #063e8d 2px solid;
    background-color: #063e8d;
    width: 30%;
    margin: auto;
}

#card-item2 {
    border: #063e8d 2px solid;
    background-color: #063e8d;
    width: 23%;
    margin: auto;
}

#div {
    margin-bottom: 0;
}
  
  #div4{
      margin-top: 3%;
      border-top: 1px solid black;
      display: flex;
      width: 80%;
      margin-left: 9%;
      margin-bottom: 5px solid black;
  }
  
  #p1{
      margin-top: 4%;
      margin-left: 2%;
  }
  
  .img4 {
      margin-top: 2%;
  }
  
  #img5 {
      width: 100%;
      height: 100%;
  }
  
  .sub {
      text-align: center;
      margin-top: 2%;
  }
  
  #card-item {
      border: #063e8d 2px solid;
      background-color: #063e8d;
      width: 30%;
      margin: auto;
  }
  #card-item2 {
      border: #063e8d 2px solid;
      background-color: #063e8d;
      width: 23%;
      margin: auto;
  }
  #div{
    margin-bottom: 0;
}

#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}

.nickname {
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}

.content_comment_card p::after{
    content: "\201D";
    display: inline;
    color: #999;
}

.content_comment_card p::before {
    content: "\201C";
    display: inline;
    color: #999;
    }

.content_comment_card p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.content_comment_card p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

#div5 form {
    margin-left: 4%;
    display: flex;
   flex-direction:column;
}

#your_comment {
    width: 100%;
}

#comments{
    font-size: x-large;
}

@media (max-width: 687px){
#div1{
    margin-left: 0px;
    padding: 0%;
}
#bloco1{
   
        background-color: #c6d0de;
        border-left: #063e8d solid 10px;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        padding: 2%;
        margin-top: 2%;
        width: 70%;
        margin-left: 18%;
}
#img1{
    width: 150px;
    height: 100px;
}
#card1 {
    display: flex;
    flex-direction: column;
}
art4{
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction:column;
    margin-bottom: 0;
}
}