body {
    background-color: rgb(220, 220, 220);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colocou cor de fundo e arrumou o widht e height com box-sizing*/
#titulo {
    color: black;
    text-align: center;
    background-color: #c6d0de;
    margin-bottom: 5%;
}
/* fiz o titulp e editei colocando a margim para regular*/
#sla {
    display: flex;
}
/*Adicionado display na tag mae de todas as divs*/

#div1 {
    display: flex;
    width: 70%;
}

#arc1 {
    padding: 2%;
    margin: 1%;
    background-color: none;
}
/*foi tirada a cor do artigle para dar efeito no site*/
#sec1 {
    padding: 2%;
    margin: 1%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    overflow: hidden;
}
/*estilizado o card*/
.img1 {
    text-align: end;
}

#div2 {
    width: 30%;
}

#arc2 {
    background-color: none;
    padding: 2%;
    margin: 1%;
    border-left: black solid 1px;    
}
/**/
#sec2 {
    padding: 2%;
    margin: 1%; 
    background-color: #c6d0de;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-left: #063e8d solid 10px;
    border-radius: 10px;
}
/* fazendo a faixa do lado do card*/
#sec2:hover {
    transform: scale(1.03);
}
#sec3 {
    padding: 2%;
    margin: 1%; background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-top: 6%;
  }

/*adicionei a sombra */
#mundo {
    padding: 2%;
    margin: 1%; background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-top: 9%;
}

*.slide-controller {
    cursor: pointer;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}

.slide-show {
  overflow: hidden;
}
/*estilizaçao do css*/
.slides-list {
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
/* faz funcionar a troca de imagens*/
.slide {
  width: 100%;
}

.image {
  width: 100%;
  height: 512spx;
  border-radius: 2%;
}
#iframe3{

        bottom: 0%;
        margin-bottom: -5px;
    
}
    * {
        margin:0;
    }
/* estilizaçao da imagem e ajeitamento do footer*/
#div {
    margin-bottom: 0;
}

#art4 {
    background-color: none;
    margin: 1%;
    padding: 2%;
    display: flex;
    margin-bottom: 0;
}

.sec4 {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 2%;
    width: 33%;
    margin-bottom: 0;
}

.icon_profile {
    border-radius: 100%;
}
.nickname{
    margin-left: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #063e8d;
}

.comment_info {
    display: flex;
    margin-top: 10%;
}

.title_name {
    color: #999;
}
.content_comment_card p::after{
    content: "\201D";
    display: inline;
    color: #999;
}

.content_comment_card p::before {
    content: "\201C";
    display: inline;
    color: #999;
}

#div5 form {
    margin-left: 4%;
    flex-direction: column;
    display: flex;
}

#your_comment {
    width: 30.8%;
}

#comments{
    font-size: x-large;
}


p {
    font-size: 20px;
}
@media(max-width: 687px){
    /*arrumando o card 1*/
    #sla{
        flex-direction: column;
    }
    #sec1{
        flex-direction: column;
    }
    .img1{
        width: 350px;
        margin: 1%;
    }
    /*arrumando o card 2*/
    #div2{
        width: 80%;
    }
    #art4{
        flex-direction: column;
    }
    .sec4{
    margin-left: 5%;
    padding: 1%;
    width: 90%;
    margin-bottom: 0;
    }
}