/* responsável pela cor de fundo*/
body {
    background-color: rgb( 220, 220, 220);
}
/*Estilização de texto h11*/
#h11{
    font-size: 70px;
    margin-top: 2%;
    margin-left: 6%;
}
/*Estilização da tag de texto p*/
p {
    font-size: 20px;
    margin-bottom: 1%;
    margin-left: 4%;
    
}


/* responsável pelo botão*/
button {
    color:black;
    background-color: #5a7fb6;
    border-radius: 5px;
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    width: 15%;
    height: 15%;
    margin-left: 16%;
    padding: 5px;
    margin-top: 1%;
}
/*Estilização do hover do botão*/
button:hover {
    width:17%;
    height: 10%;
    font-size: 15px;
}

/*responsável pela imagem da logo*/
#img1 { 
    border-radius: 30%;
    width: 70%;
    height: 70%;
    margin-top: 20%;
}
/*Estilização do iframe*/
#iframe{
    bottom: 0%;
    margin-bottom: -5px;
}

*{
    margin: 0;
} 
/*Estilização com display flex*/
#sla {
    display: flex;
}

/*responsável pelos textos*/
#p2 {
    margin-top: -100px;
    margin-left: 2%;
}
/*Estilização da p3*/
#p3 {
    margin-left: 11%;
}
/*Estilização da p4*/
#p4 {
    margin-left: 13%;
}

@media screen and (max-width: 500px) {
    /*Estilização da media h11*/
    #h11 {
        text-align: center;
        font-size: 30px;
    }
    /*Estilização da media sla com flex direction column*/
    #sla {
        flex-direction: column;
    }
    /*Estilização da imagem da img1*/
    #img1 {
        margin-top: 5vh;
        margin-left: 15%;
        margin-right: 15%;
        height: 30vh;
    }
    /*Estilização da media p2*/
    #p2 {
        margin-top: 5vh;
        text-align: center;
    }
    /*Estilização do texto da media p2*/
    #p2 p {
        font-size: 20px;
    }
    /*Estilização da media p3*/
    #p3 {
        font-size: 20px;
        margin-left: -2vw;
    }
    /*Estilização da media p4*/
    #p4 {
        font-size: 20px;
        margin-left: -2vw;
    }
    /*Estilização media do botao*/
    button {
        text-align: center;
        margin-left: 25vw;
        margin-top: 10vh;
        font-size: 20px;
        height: 10vh;
        width: 50vw;
    }
    /*Estilização do hover do botao na media*/
    button:hover {
        text-align: center;
        margin-left: 25vw;
        margin-top: 10vh;
        font-size: 20px;
        height: 10vh;
        width: 50vw;
    }
}