/*Parte que incorpora o html*/
body {
    background-color: rgb(220, 220, 220);
    text-align: justify;
    font-size: 20px;
}
/* estilizaçao da div*/
#div1 {

}
#arc1 {
    background-color: none;
    padding: 2%;
    margin: 1%;
/*estilizaçao das class e ids dos conteudos do html*/
}
.tit {
  text-align: center;
}
#sobrenos {
    background-color: none;
    display: flex;
}
#sobre {
    margin: 1%;
    padding: 2%;
    text-align: justify;
}
#img1 {
    border-radius: 22px;
    margin: 1%;
}
/* arrumando para colar o footer e o header no pag*/
iframe {
    bottom: 0;
    margin: 0;
    padding: 0;
}
#div2 {
}
#arc2 {
    background-color: none;
    padding: 2%;
    margin: 1%;
    display: flex;
    border-top: 1px black solid;
    
}
#mvv {
/* id e hover para poder customizar quando ou mouse passa por cima dos cards do mmv*/
    
}
#mvv:hover {
    transform: scale(1.07);
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
    -moz-box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
    box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
}
.div3 {
  border-top: 1px black solid;
}
/*estilizaçao dos article*/
#arc3{
    background-color: none;
    padding: 2%;
    padding-bottom: 0;
    margin: 1%;

    display: flex;
}
#arc4 {
    background-color: none;
    padding: 2%;
    padding-top: 0;
    margin: 1%;
    display: flex;
}
#nos {
    padding: 10%;
    margin: 5%;
    background-color: white;
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
#nos:hover {
    transform: scale(1.05);
    transition: 0.3s;}
.no {

    height: 256px;
    width: 100%;
    padding-bottom: 2%;

}
#tex1 {
    text-align: justify;
    margin: 1%;
    padding: 2%;
    border-top: 1px black solid;

}
/* decoraçao do links dos cards*/
a {
    text-decoration: none;
    color: black;
    width: 33%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* class principal dos cards*/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}
/* class para poder ajustar a img dentro dos cards*/
.card_image {
  position: relative;
  max-height: 250px;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card_price span {
  font-size: 20px;
  margin-top: -2px;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* traço no card de mmv*/
.card_content {
  position: relative;
  padding: 16px 12px 32px 24px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: scroll;
}
/* class para poder ajustar o tamnho da srcollbar*/
.card_content::-webkit-scrollbar {
  width: 8px;
}
/* class para tirar a borda e shadow da srcollbar*/
.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}
/* class para estilizar a srcollbar*/
.card_content::-webkit-scrollbar-thumb {
  background: #063e8d;
  border-radius: 15px;
}
/* class para poder ajusatr o titulo dentro dos cards*/
.card_title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/* class para o titulo nao descer junto com o movimento de srolling*/
.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #063e8d;
  content: "";
}

hr {
  margin: 24px auto;
  width: 50px;
  border-top: 2px solid #063e8d;
}

.card_text p {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
    -moz-box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
    box-shadow: 100px 100px 3000px 2000px rgba(0,0,0,0.4);
}

#tex2 {
  margin: auto;
  text-align: center;

}
/* traço no card de mmbros*/
.card-item {
  border: #063e8d solid 1px;
  width: 40%;
  margin: auto;
}

#shiu {
  color: white;
}
/*estilizaçao do header e do footer*/
#iframe2{
  bottom: 0%;
  margin-bottom: -5px;
}

*{
  margin: 0;
}